<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Registro</title>
</head>
<body>
  <h1>Agregar nuevo</h1>
  <form action="/add" method="POST">
    <input type="text" name="name" placeholder="Nombre" required>
    <button>Guardar</button>
  </form>
</body>
</html>
